
/* 
font-family: 'Lato', sans-serif*/
body{
    font-family: 'Lato', sans-serif;
}


.blueLight {
    background-color: #CBDAFF;
}

.heroHead {
    padding-top: 5%;
}

#heroImage{
    float: right;
    width: 600px;
    height: auto;
    padding-top: 14%;
    padding-right: 10%;
}

#topBox {
  height: 500px;
}

@media (max-width: 1200px) {
  
.heroHead{
    font-family: 'Lato', sans-serif;
}

.heroHead1{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

.topSection{
    padding-top: 3%;
    margin-left: 3%;
}

#heroImage {
    float: none;
    width: 100%;
    padding: 0 0 0 0;
    
}

#textBox {
    margin-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
}

#topBox {
    height: 500px;
}
 }

