
/* 
font-family: 'Lato', sans-serif*/

.blueLight {
    background-color: #CBDAFF;
}

.heroHead {
    padding-top: 5%;
}

#heroImage{
    float: right;
    width: 600px;
    height: auto;
    padding-top: 14%;
    padding-right: 10%;
}

#topBox {
  height: 500px;
}

@media (max-width: 1200px) {
  
.topSection{
    padding-top: 3%;
    margin-left: 3%;
}

#heroImage {
    float: none;
    width: 70%;
    height: auto;
    padding-top: 1%;
    margin-left: 20%;

}

#textBox {
    padding-left: 10%;
    padding-right: 5%;
}

#topBox {
    height: 500px;
}
 }

