
/* Font Types:
Display: font-family: 'Lalezar', cursive;
Sans: font-family: 'Lato', sans-serif;
*/


*{
    font-family: 'Lato', sans-serif;
    background-image: url("https://handlemycalls.com/assets/images/wavegrid_@2X.png");
}

